// .Social {
//   text-align: center;

//   a {
//     display: inline-block;
//     font-size: 1.2em;
//     margin-bottom: 0.6em;
//   }
// }


$colors: (
  primary: #000000,
  accent: #b3bfb8
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

.Social {
  text-align: center;

  a {
    color: color(primary);
    display: inline-block;
    font-size: 1.2em;
    margin-bottom: 0.6em;

    &:hover {
      color: color(accent);
    }
  }
}
