$mobile: 480px;
$desktop: 1280px;

@mixin mobile {
  @media screen and (min-width: #{$mobile}){
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$desktop}){
    @content;
  }
}

.App {
  width: 100%;
  min-height: 100vh;
  background: #FFF;
  background-size: cover;
  padding: 5% 6%;
  box-sizing: border-box;
  opacity: 0;

  @include mobile {

  }

  @include desktop {
    background: linear-gradient(to right, rgb(255,255,255) 50%, rgb(245,246,248) 50%)

  }
}

.App__Social {
  position: absolute;
  left: -3px;
  top: 70px;
  width: 28px;
  padding: 5% 6%;
  transform: translateY(60px);
  opacity: 0;

  @include mobile {
    left: auto;
    right: 0;
  }
}

.App__Description {
  transform: translateY(60px);
  opacity: 0;
}

.App.ready {
  transition: opacity 1s cubic-bezier(0, 0.7, 0.3, 1);
  opacity: 1;

  .App__Social {
    transition: all 0.7s cubic-bezier(0, 0.7, 0.3, 1) 0.5s;
    transform: translateY(0);
    opacity: 1;
  }

  .App__Description {
    transition: all 0.7s cubic-bezier(0, 0.7, 0.3, 1) 0.5s;
    transform: translateY(0);
    opacity: 1;
  }
}

